*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 400px;
    width: 300px;
    background-color: aqua;
    font-size: large;


}
@media screen  and (min-width:800px) {
    .container{
        background-color: rgb(133, 23, 23);
    }
}

 @media screen and (max-width:900px){
    .container{
    
    background-color: rgb(33, 56, 208);
    font-size: 40px;
}
} 

 @media screen and (max-width:600px){
    .container{
    
    background-color: rgb(0, 251, 88);
    font-size: 40px;
}
} 
