*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    height: 200px;
    width: 200px;
    /* background-color: red; */
    /* box-shadow: 10px 10px 10px 10px blue;  */
    /* box-shadow: inset 10px 10px blue; */
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 10px red;

}