*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}
.container{
    height: 200px;
    width: 200px;
background-color: blue;
overflow: scroll;
}