*{
    margin: 0px;
    box-sizing: border-box;
    
    padding: 0px;
}
body{
    background-color: black;
    display: flex;
    height: 100vh;
    
    justify-content: center;
    /* align-items: center; */
    padding-top: 20px;
}
.container{
    padding: 20px;
    height: 50px;
    width: 100px;
    background-color: rgb(14, 13, 13);
    border: 1px solid rgb(184, 153, 153);
    font-size: 20px;
    width: 70%;
    color: white;
    white-space: nowrap;
    overflow: hidden;

}  
p{
    margin-left: 250%;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes move{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}