*{
    margin: 0px;
    padding:  0px;
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.container{
    height: 400px;
    width: 800px;
    margin: 20px;
    border: 8px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.a{
    background-color: red;
    grid-row: 1/3;
    border: 8px solid black;
}
.b{
    background-color: blue;
    grid-column: 2/3;
    border: 8px solid black;
}
.c{
    background-color: brown;
    grid-column: 3/5;
    border: 8px solid black;
}
.d{
    background-color: green;
    width: 50%;
    border: 8px solid black;
}
.e{
    background-color: white;
    border: 8px solid black;
    grid-column: 3/4;
}