*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}
body{
    background-color: black;
}
.container{
    display: grid;
    /* grid-template-rows: 200px 200px; */
    /* grid-template-columns: 200px 200px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background-color: pink;
    height: 400px;
    width: 400px;
}
.f{
    background-color: orange;
}
.s{
    background-color: yellow;
}
.t{
    background-color: #771414;
}
.fo{
    background-color: green;
}