*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(163, 92, 92);
}
.container{
    display: flex;
    background-color: aqua;
    margin: 5px;
    gap: 5px;
    padding: 5px;
}

.box{
    height: 200px;
    width: 200px;
}
.first{
    background-color: orange;
}
.second{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: purple; */
}
.child{
    height: 140px;
    background-color: red;
}

