*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#container{
    margin-left: 10px;
    margin-top: 10px;
    height: 200px;
    width: 300px;
    background-color: rgb(220, 219, 219);
    position: relative;
}
#circle{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 100px;

}

