/* *{
    margin: 0px;
    padding: 0px;
} */

span{
    display: inline-block;
    color: blue;
    height: 100px;
    width: 300px;  /* Does not allow to add width and height*/
    padding: 40px;  /*Only vertical padding and margin we cannot do it in horizontal*/
    margin: 20px;
    /* display: block; */
}
h1{
    display: inline-block;
    background-color: rgb(176, 159, 64);
    height: 100px;
    width: 300px;
    padding: 40px;
    margin: 20px;
    /* display: inline; */
    box-sizing: border-box;
}
