h1{
    background-color: orange;
    width: 400px;
    /* height: 300px; */

    /* border-width: 5px;
    border-style: dotted;
    border-color: blue; */

    border: 5px solid blue;
    padding: 5px;
    margin: 20px;
/* 
    border-top: 5px solid black;
    padding-left: 10px;
    margin-left: 20px; */

    /* padding: 10px 20px 30px 40px;  TRBL */
    /* padding: 20px 40px; TB-LR */

    /* margin: 10px 20px 30px 40px;  TRBL */
    /* margin: 20px 40px; TB-LR */

    border-radius: 50px;
}

h2{
    background-color: pink;
    border: 5px solid blue;
}

p{
    background-color: aqua;
    border: 2px solid green;
    padding: 20px;
    margin: 20px;
}
